<!--display of a single character page-->
<div class="container" id="contents">
  <div class="row" *ngIf="currentCharacterView">
      <div  class="col-md-4 col-md-offset-4 "><!--keeping in middle-->
        <!--display of card-->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4><b>{{currentCharacterView.name || defaultValue | uppercase}}</b></h4>
              </div>
              <div class="panel-body">
                  <img class="card-img img-responsive" src="https://rameshkmunjal.github.io/iceNfire/assets/images/GOT-CHAR-IMG-3.jpg" alt="Card image cap">
              </div>              
              <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                      <span><b>Gender : </b>{{currentCharacterView.gender || defaultValue}}</span>
                      <span class="right-span"><b>Spouse : </b>{{currentCharacterView.spouse || defaultValue}}</span>
                    </li>              
                    <li class="list-group-item"><b>Culture : </b>{{currentCharacterView.culture || defaultValue}}</li>
                    <li class="list-group-item">
                        <span ><b>Born : </b>{{currentCharacterView.born || defaultValue}}</span>
                        <span class="right-span"><b>Died : </b>{{currentCharacterView.died || defaultValue}}</span>
                    </li>
                    <li class="list-group-item">
                        <span><b>Father : </b>{{currentCharacterView.father || defaultValue}}</span>
                        <span class="right-span"><b>Mother : </b>{{currentCharacterView.mother || defaultValue}}</span>
                    </li>             
                    <li class="list-group-item"><b>Aiases : </b>{{currentCharacterView.aliases }}</li>
                    <!--if data in tvseries property exists-->
                        <div *ngIf="currentCharacterView.tvSeries>0" >
                                <li class="list-group-item">
                                    <b>TV Series: </b>                
                                    <div *ngFor="let tvseries of currentCharacterView.tvSeries">
                                    {{tvseries}}                                        
                                    </div><!--End of ngFor--> 
                                </li>              
                        </div><!--End of ngIf-->                  
                </ul>
              </div>
              <div class="panel-footer">
                  <a (click)="goBack()" class="btn">Go Back</a>
              </div>
            </div>
      </div><!--End of col div and ngFor loop-->
  </div><!--End of row and ngIf block-->
</div><!--End of container - #contents-->
